body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: calc(33.333% - 16px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.gallery-link {
    text-decoration: none;
}

.gallery-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.menu-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4e75ff;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
    background-color:#6c8cff;
    transform: scale(1.05);
}


/* ########################FORM########################### */

.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-input {
    font-family: 'Montserrat', sans-serif;
    max-width: 360px;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ,.textarea-form:hover  {
    border: 1px solid #4e75ff;
}
.textarea-form{
    font-family: 'Montserrat', sans-serif;
    resize: none;
    max-width: 360px;
    /* padding: 10px; */
    padding: 16px 8px;
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover {
    background: #6c8cff;
}

